{% extends "base.html" %}
{% load stat %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
<div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for item in data %}
        <div class="bg-white shadow-md p-6 hover:shadow-lg transition-shadow duration-300 rounded-lg">
          <h2 class="text-xl font-semibold mb-2">{{ item.title }}</h2>
          <p class="text-4xl font-bold text-gray-800">{{ item.count|format_count }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="try_image">
    <img src="{%static 'profile_pic.jpg'%}" alt="">
  </div>

 
{% endblock %}

