{% load static %}


<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{% static 'style.css' %}" />
<title>Portfolio</title> 
</head> 
<body> 
<!-- <img src="{% static 'turtle_bg.jpg' %}" /> -->
<div class="main-page">
    <h1>My Simple Portfolio</h1>
    <h2>My Simple Portfolio</h2>
    <!-- <h3>explore my portfolio!</h3> -->
    <a href="{% url 'portfolio:portfolio'%}" class="wooden-link">Portfolio</a>
    <a href="{% url 'portfolio:dashboard'%}" class="wooden-link">Dashboard</a>
</div>

</body> 
</html> 